<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        button {
            margin: 5px;
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
        }
        #clients button {
            display: block;
        }
        .info {
            margin-top: 10px;
            font-size: 18px;
            color: #333;
        }
    </style>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Client Management</h1>

    <button hx-get="/get-local-ip" hx-target="#ip-text">Show My IP</button>
    <div id="ip-text" class="info"></div>

    <button hx-post="/debug-button-1">Debug 1</button>

    <h2>Clients</h2>
    <div id="clients" hx-get="/available-services" hx-trigger="every 2s">
        no clients                      
    </div>
</body>
</html>
